footer {
	font-size: 20px;
	color: white;
	background-color: $yellow;
	text-align: center;
		p {
			margin-bottom: 0;
		}
		a {
			color: white;
			text-decoration: none;
		}
}

.fa-twitter, .fa-twitter-square {
	color: white;
	margin: 2% 3px;
}
