
$seablue: #00659D;
$turquoise: #00ABBC;
$sand: #E2C58B;
$peach: rgba(252, 137, 144, 0.5);  //#FC8990
$mutedplum: #B35E7F;
$darkplum: #B529A3;
$pink: #FF126C;
$dkorange: #FA4F23;
$orange: #FB8C21;
$gold: #FFBC01;
$yellow: #FFDD36;
$mainGreen: rgba(132, 192, 77, 0.5); // #84C04D


